{{!< default}}
<div class="container">
	<div class="jumbotron">
		<h1>Hello Jade</h1>
		<p>Here's a very basic website structure that you can play around with and write some sample blogs. If you wanted to go ahead and build a proper site, we could obviously style it how you want it and add whatever pages you wanted – for recipies, testimonials etc.</p>
		
		<hr>
		<p>The site is split into two areas. This is the main view, which is what users would see. The admin section is where you can write blog posts, upload images, recipies, testimonials and anything else.</p>

		<p>You access the admin area either by clicking the button below or by going to <a href="/keystone">heroku-jade-sample.herokuapp.com/keystone</a>. To login the username is <strong>limes.catering1@gmail.com</strong> and the password <strong>jade12344</strong>.</p>
		<p><a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">Sign in</a> to use the Admin UI.</p>
	</div>
</div>
